<div class="gameboard-bet">
    <form action="{{path('poker_bet')}}" method="POST">
        <input type="number" id="bet" name="bet" min="0" value="0">
        <input type="submit" name="Bet" value="Bet">
    </form>
</div>