<div class="gameboard-player-stats">
    <div class="gameboard-player-name">
        {{ players[0].name }}
    </div>
    <div class="gameboard-player-stats-item">
        <div>Chips:</div><div>{{ players[0].chips }}</div>
    </div>
    <div class="gameboard-player-stats-item">
        <div>Bet:</div><div>{{ players[0].bet }}</div>
    </div>
    <div class="gameboard-player-stats-item">
        <div>Hand:</div><div>{{ players[0].pokerHand }}</div>
    </div>
</div>