{% extends "proj/base.twig" %}

{% block title %}Poker{% endblock %}

{% block body %}
    {{ include('flash.html.twig') }}
    <h1 class="proj-pageheader">Poker</h1>
    <div class="proj-content">
        <div class="proj-content-main">
            <form action="{{path('poker_start')}}" method="POST">
                <div class="proj-content-settings">
                    <div class="group-input">
                        <label for="name" name="cheating_label">Name</label>
                        <input type="text" name="name" id="name">
                    </div>

                    <div class="group-input">
                        <label for="numberOfPlayers" name="numberOfPlayers_label">Number of players</label>
                        <input type="number" value="1" min="1" max="4" name="numberOfPlayers" id="numberOfPlayers">
                    </div>

                    <div class="group-input">
                        <label for="cheating" name="cheating_label">Cheat?</label>
                        <input type="checkbox" name="cheating" id="cheating">
                    </div>
                </div>
                <div class="proj-content-start">
                    <input type="submit" class="proj-content-start-button" value="Starta Spelet" name="Starta Spelet"></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}