{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block body %}
    <h1>API Routes</h1>
    <hr>
    <div class="content">
        <div class="report-aside">
            <span class="api-route"><a href="/api/quote">Quote</a> - Visar ett slumpmässigt citat!</span>
        </div>
    </div>
{% endblock %}