{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1 class="site-header">Card</h1>
    <hr>
    <div class="content span-2">
        {{ include('card_hand.twig') }}
    </div>
{% endblock %}