{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1 class="site-header">Card</h1>
    <hr>
    <div class="content">
        {{ include('card_hand.twig') }}
        <img src="" alt="UML diagram of class hierarchy">
    </div>
{% endblock %}