{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 class="site-header">Report</h1>
    <hr>
    <div class="content report">
        <div class="report-aside">
            <h2>Innehållsförteckning</h2>
            <a href="/report#kmom01">Kursmoment 1</a>
            <a href="/report#kmom02">Kursmoment 2</a>
            <a href="/report#kmom03">Kursmoment 3</a>
            <a href="/report#kmom04">Kursmoment 4</a>
            <a href="/report#kmom05">Kursmoment 5</a>
            <a href="/report#kmom06">Kursmoment 6</a>
            <a href="/report#kmom07">Kursmoment 7/10</a>
        </div>
        <div class="kmom">
            <h2>Redoviningar</h2>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 1</h2>
                <div id="kmom01" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 2</h2>
                <div id="kmom02" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 3</h2>
                <div id="kmom03" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 4</h2>
                <div id="kmom04" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 5</h2>
                <div id="kmom05" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 6</h2>
                <div id="kmom06" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
             <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 7/10</h2>
                <div id="kmom07" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
        </div>
    </div>
{% endblock %}