{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1 class="site-header">Report</h1>
    <hr>
    <div class="content report">
        <div class="report-aside">
            <h2>Innehållsförteckning</h2>
            <a href="/report#kmom01">Kursmoment 1</a>
            <a href="/report#kmom02">Kursmoment 2</a>
            <a href="/report#kmom03">Kursmoment 3</a>
            <a href="/report#kmom04">Kursmoment 4</a>
            <a href="/report#kmom05">Kursmoment 5</a>
            <a href="/report#kmom06">Kursmoment 6</a>
            <a href="/report#kmom07">Kursmoment 7/10</a>
        </div>
        <div class="kmom">
            <h2>Redoviningar</h2>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 1</h2>
                <div id="kmom01" class="kursmoment-text">
                    Jag har inte gjort alldeles för mycket inom objektorienterad programmering.
                    Jag har jobbat lite med Java tidigare och har hållit på med lite objektorientering i Javascript, men annars har jag inte använt det för mycket.

                    Man behöver vet strukturen på en klass, hur man skapar den (genom "Class") samt om hur klasser fungerar.
                    När man skapar en klass skapar man i princip en ny instans av ett objekt vilket man kan använda och ändra på hur man vill.
                    En klass kan ha fördefinierade attribut samt metoder men de kan även få andra attribut utöver dem.
                    Man kan bestämma vissa attribut genom konstruktorn, vilka dessa är bestämmer programmeraren.

                    Kodbasen var lite svår att förstå i början, det är ju ganska mycket kod.
                    Men som jag förstår det så ligger allting man vill visa användaren i public (bilder, CSS, JS, etc.) och alla vyer lägger man i "templates" mappen.
                    Man kontrollerar vad som ska visas på sidorna genom controllers.

                    Jag personligen tycker att "Design Patterns" är en väldigt viktig del att förstå.
                    Det hjälper en enormt när man ska arbeta med andra samt även när man finner kod på nätet man vill försöka förstå.
                    Dessutom hjälper det en själv att lättare kunna läsa sin egna kod.
                    Ofta händer det att man går tillbaka till kod man har skrivit för länge sedan och inte förstår någonting alls.
                    Om man hade fokuserat på design patterns mer kanske inte detta hade varit ett problem.
                    Dessutom tycker jag även att "Testing" är en bra sektion att läsa igenom.
                    Det är enormt viktigt att ofta testa sin kod, även om man inte själv hittar några fel med den.
                    Ofta när jag använder mina applikationer så brukar jag inte hitta många fel, men dessa fel kan vara väldigt svåra att finna och kan ha extrema konsekvenser.
                    Därför är det väldigt bra att skriva test-kod som gör detta åt en så att man inte missar att t.ex. något blir överskrivet i en databas eller något liknande.

                    TIL hur man sätter upp ett Symfony projekt samt hur controllers fungerar i PHP.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 2</h2>
                <div id="kmom02" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 3</h2>
                <div id="kmom03" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 4</h2>
                <div id="kmom04" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 5</h2>
                <div id="kmom05" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
            <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 6</h2>
                <div id="kmom06" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
             <div class="kursmoment">
                <h3 class="kmom-header">Kursmoment 7/10</h2>
                <div id="kmom07" class="kursmoment-text">
                    Här kommer redovisningstexten till kursmomentet.
                </div>
            </div>
        </div>
    </div>
{% endblock %}