{% extends "base.html.twig" %}

{% block title %}Library - View All{% endblock %}

{% block body %}
    <h1 class="site-header">Library - View All</h1>
    <hr>
    <div class="content table-of-contents">
        {{ include('library/navigation.twig') }}
        <div class="library-content">
            {{ include('flash.html.twig') }}
            {% for book in books %}
                <div class="library-product">
                    <div class="library-product-header"><a href="{{path('library_view_one', { bookId: book.getId() })}}">{{ book.getTitle() }}</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}